<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Drinkit</title>
</head>
<body>
  <h2>Drinkkilista</h2>
        <ul>
            <li th:each="Drinkki : ${drinkit}">
                <a th:href="@{~/drinkit/{id}(id=${Drinkki.id})}">
                    <span th:text="${Drinkki.name}">Drinkki</span>
                </a>
            </li>
        </ul>
 
 
 
  <ul>
    <li>
      <a href="drinkit/">Luo uusi drinkki</a>
    </li>
    <li>
      <a href="raaka-aineet/">Tarkastele ja lisää aineksia</a>
    </li>
  </ul>
</body>
</html>
