 
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lis&auml;&auml; drinkille ohje</title>
    </head>
    <body>
        <h1 th:text="${drinkit.nimi}"></h1>
        <h2>Ohje drinkin valmistukseen</h2>
        <h5>Lis&auml;ysj&auml;rjestys, raaka-aine, lis&auml;tt&auml;v&auml; m&auml;&auml;r&auml;, ohjekuvaus</h5>

        
        <ul>
            <li th:each="Ohje : ${Ohjeet}">
                <span th:text="${Ohje.jarjestys}">Raaka-aine</span>
                <span th:text="${Ohje.nimi}">id</span>
                <span th:text="${Ohje.maara}">Raaka-aine</span>
                <span th:text="${Ohje.ohje}">Raaka-aine</span>
                
            </li>

        </ul>

    </body>
</html>