<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Drinkit</title>
    </head>
    <body style="background-color:powderblue;">

        <h2>Drinkit</h2>



        <h4>Lis&auml;&auml; uusi</h4>

        <form method="POST" action="">
            Drinkki nimi:<br/>
            <input type="text" name="aine"/><br/>
            <input type="submit" value="Lis&auml;&auml;"/>
        </form>

        

        


        <ul>
            <li>
                <a href="../">Drinkkilistaukseen</a>
            </li>
        </ul>

    </body>
</html>