<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Drinkit</title>
    </head>
    <body>

        <h2>Drinkit</h2>



        <h4>Lisää uusi</h4>

        <form method="POST" action="">
            Drinkki nimi:<br/>
            <input type="text" name="aine"/><br/>
            <input type="submit" value="Lisää"/>
        </form>

        <h4>Lisää raaka-aineita</h4>

        <form method="POST" action="">
            Drinkin nimi:<br/>
            <select name="Drinkki">

                <option th:each="Drinkki: ${drinkit}" th:text="${Drinkki.nimi}">

                </option>


            </select>
            <br/>
            Lisättävä raaka-aine<br/>


            <select id="raakaAineId" name="raakaAine">

                <option th:each="RaakaAine: ${RaakaAineet}" th:text="${RaakaAine.nimi}" th:values="${RaakaAine.id}">

                </option>


            </select>

            <br/>
            Järjestys<br/>
            <input type="text"/><br/>
            Määrä<br/>
            <input type="text"/><br/>
            Ohje<br/>
            <input type="text"/><br/>
            <input type="submit" value="Lisää"/>

        </form>


        <ul>
            <li>
                <a href="../">Drinkkilistaukseen</a>
            </li>
        </ul>

    </body>
</html>