 
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lisää drinkille ohje</title>
    </head>
    <body>
        <h1 th:text="${drinkit.nimi}"></h1>
        <h2>Ohje drinkin valmistukseen</h2>
        
        
        <ul>
            <li th:each="Ohje : ${Ohjeet}">
                <span th:text="${Ohje.jarjestys}">Ohje</span>
                <span th:text="${Ohje.maara}">Ohje</span>
                <span th:text="${Ohje.ohje}">Ohje</span>
            </li>

        </ul>

    </body>
</html>